/* Center the content vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #eee; 
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gitRepo{
margin-top: 10px;
}
a{
text-decoration: none;

}
a:hover{
    color: red;
  
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 600px; 
 
}


div[data-testid="slackUserName"] {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

img[data-testid="slackDisplayImage"] {
    width:80% ; 
    border-radius: 7px;
}


